.messenger {
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu {
  flex: 3.5;
}

.chatMenuTitle{
  font-size: 18px;
  padding-bottom: 8px;
  font-weight: bold;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 10px;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBox {
  flex: 5.5;
}

.productBox {
  flex: 3;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 500px;
  min-height: 500px;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.productUser {
  padding-bottom: 50px;
  font-size: 20px;
}

.productUserHeader {
  font-weight: bold;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(24, 77, 0);
  color: white;
}

.productBox {
  padding-left: 50px;
}


